/* postcss-preset-env test */

/* custom meadia query */
@custom-media --viewport-medium (width <= 40rem);

/* variables */
:root {
  --titleColor1: #f66e;
  --titleColor2: #9ff9;
}

h1 {
  color: var(--titleColor1);
  background: hsl(200deg 60% 35%);
  transition: all 1s ease-in;

  @media (--viewport-medium) {
    color: var(--titleColor2);

    /* background: hsl(60deg 10% 60%); */
    background: hwb(60 10% 60%);
  }
}

p {
  color: gray(20);

  /* nest */
  & strong {
    color: #63fc;
  }
}
